.dialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  align-items: center;
  justify-content: center;
  display: flex;
}
.dialog {
  background: white;
  z-index: 2;
  border-radius: 12px;
  width: fit-content;
  height: fit-content;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}

.close-icon-wrapper {
  display: flex;
  justify-content: flex-end;
}
.close-icon {
  height: 12px;
  width: 12px;
  margin: 14px;
  cursor: pointer;
}
.content {
  max-height: 93vh;
  overflow: auto;
  padding: 36px;
}
